<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  <servlet>
  	<servlet-name>UserHome</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.UserHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserHome</servlet-name>
  	<url-pattern>/user_home</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>VerifyEmail</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.VerifyEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VerifyEmail</servlet-name>
  	<url-pattern>/verify_email</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AccountSettings</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.AccountSettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountSettings</servlet-name>
  	<url-pattern>/account_settings</url-pattern>
  </servlet-mapping>
    
  <servlet>
  	<servlet-name>ResetPassword</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/reset_password</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CreateAccount</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateAccount</servlet-name>
  	<url-pattern>/create_account</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CreatePosition</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.CreatePositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreatePosition</servlet-name>
  	<url-pattern>/create_position</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CreateSOP</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.CreateSOPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateSOP</servlet-name>
  	<url-pattern>/create_sop</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SearchUsers</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.SearchUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchUsers</servlet-name>
  	<url-pattern>/search_users</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SearchPositions</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.SearchPositionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchPositions</servlet-name>
  	<url-pattern>/search_positions</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SearchSOPs</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.SearchSOPsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchSOPs</servlet-name>
  	<url-pattern>/search_sops</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EditUser</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditUser</servlet-name>
  	<url-pattern>/edit_user</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EditPosition</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.EditPositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditPosition</servlet-name>
  	<url-pattern>/edit_position</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EditSOP</servlet-name>
  	<servlet-class>edu.ycp.cs481.servlets.EditSOPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditSOP</servlet-name>
  	<url-pattern>/edit_sop</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>user_home</welcome-file>
  </welcome-file-list>
</web-app>